Babel==2.8.0
Click==7.0
entrypoints==0.3
flake8==3.7.9
Flask==1.1.1
Flask-Babel==0.12.2
Flask-Moment==0.9.0
httplib2==0.18.0
itsdangerous==1.1.0
jedi==0.16.0
Jinja2==2.10.1
Markdown==3.1.1
markdown-katex==201912.11b0
MarkupSafe==1.1.1
mccabe==0.6.1
parso==0.6.1
pathlib2==2.3.5
plantuml==0.3.0
plantuml-markdown==3.2.1
pycodestyle==2.5.0
pyflakes==2.1.1
python-dotenv==0.10.4
pytz==2019.3
six==1.13.0
Werkzeug==0.16.0
