body {
    font: 20px Crimson Text, sans-serif;
}

h2 a {
    color: #2771b5;
    text-decoration: none;
}

article > h1 {
    color: #2771b5;
}

.title-blog {
    text-align: center;
}

.center {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.nav-section {
  display: flex;
  padding-left: 0;
  width: 60%;
}

.nav-section > li {
    list-style-type: none;
    margin: 0;
    padding: 0 0.75rem;
}

.nav-section > li:not(:last-child) {
   border-right: 2px solid #d2d5e4;
}

footer {
    margin-top: 80px;
}
